.bodyColor{
    background-color:#4fa8d8;
    }
    .trueCenter{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    /* .grandfather{ 
    }  */